* {
    padding: 0px;
    margin: 0px;
    color: gray;
    font-family: "Microsoft YaHei";
}

html,
body {
    background-color: #1b1b1b;
    background-image: linear-gradient(#DDDDDD, #A5ACAC);
}

p {
    display: block;
    height: 30px;
}

span {
    display: block;
    width: 105px;
    float: left;
    margin-right: 10px;
}

select {
    display: inline-block;
    height: 25px;
    width: 170px;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
}

select::-ms-expand {
    display: none;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.wrapper .title {
    margin-top: 10px;
    text-align: center;
    background-color: #FFF;
    height: 70px;
    line-height: 70px;
}

.wrapper .title .logo{
    display: block;
    position: absolute;
    margin-top: 25px;
    width: 206px;
	height: 23px;
    background-image: url(../img/logo.png);
}
.wrapper .title .titlename {
    display: inline-block;
    height: 40px;
    font-size: 16pt;
    line-height: 40px;
    font-weight: bold;
}

.wrapper .body {
    border: 1px solid;
    border-color: coral;
    background-image: linear-gradient(#FFF, #DDDDDD);
}

.wrapper .body p {
    line-height: 30px;
}

.wrapper .body .width {
    width: 170px;
    border: 1px solid;
}

.wrapper .body input {
    width: 100%;
    height: 25px;
    border: 0;
}

.wrapper .submitte input {
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    width: 100px;
    color: #FFF;
    background-color: #8ac007;
    margin-right: 20px;
}

.wrapper .submitte input:hover {
    background-color: #fff;
    color: #90b575;
}