body {
	background-color: #FFF;
	margin: 0px;
}

body .login {
	width: 100%;
	margin: auto;
	background-color: #B8E5FA;
	padding: 20px;
	padding-right: 0px;
	padding-left: 0px;
}

body .table {
	width: 600;
	border: 0;
	margin: auto;
}

input {
	border-radius: 5px;
}

.labe {
	text-align: right;
	background-color: #B8E5FA;
}

body,
td,
th {
	font-family: Arial, Helvetica, "microsoft yahei", sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

.logintitle {
	width: 600px;
	margin: auto;
	margin-top: 200px;
	font-family: Arial, Helvetica, "microsoft yahei", sans-serif;
	color: #000;
	font-size: 28px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.logintitle div div{
	display: inline-block;
}
.logintitle .logo{
	width: 206px;
	height: 24px;
	background-image: url(../img/logo.png);
}
/* .reg {
	position: absolute;
	left: 505px;
	top: 125px;
	background-color: #fff;
	width: 356px;
	height: 400px;
	font-size: 17px;
	display: none;
}

.reg .title {
	margin-bottom: 50px;
	margin-top: 40px;
	text-align: center;
	color: cyan;

}

 .reg .close{
	display: block;
	width: 20px;
	height: 40px;
	line-height: 40px;
	float: right;
	color: brown;
} 
.reg .close:hover{
	cursor: pointer;
}

.reg .title .tupian {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	margin-right: 100px;
}

.reg .input .split {
	margin: 20px 0 20px 0;
	text-align: center;
}

.reg .input .split .get {
	display: block;
	height: 40px;
}

.reg .input .split .get input {
	border: 1px solid #ddd;
	height: 20px;
	padding: 10px 8px;
	width: 280px;
}

.reg .sum {
	text-align: center;
}

.reg .sum .get {
	display: inline-block;
	height: 40px;
}

.reg .sum .get input {
	color: #ddd;
	background-color: #4490f7;
	border: 1px solid #ddd;
	height: 40px;
	width: 300px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 800;
} */